@charset "utf-8";

body {
    font-size: 100%;
    background-color: 1352a2;
    font-color: white;
}

body#dog {
    background-image: url("sally2.jpg");
}

h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    font-family: "Georgia", serif;
}

h2 {
    font-size: 1.5em;
    text-align: left;
    font-family: "Arial", sans-serif;
}

p {
    font-size: .75em;
    font-family: "Comic sans", sans-serif;
}

p#01 {
    font-family: "Arial", serif;
    text-align: center;
    font-size: .75em;
}

p#red {
    color: red;
}

.navbar {
    float: center;
    padding: 5px;
    display: block;
    background-color: ffd464;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    width: 60px;
}

.navbar li {
    display: inline;
    font-family: "Cambria", serif;
    font-size: 1em;
    font-color: black;
}