@charset "utf-8";

body {
    font-size: 100%;
    background-image: radial-gradient();
}

body#dog {
    background-image: url("sally.jpg");
}

h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    font-family: "Georgia", serif;
}

h2 {
    font-size: 1.5em;
    text-align: left;
    font-family: "Arial";
}

p {
    font-size: .75em;
    font-family: "Comic Sans", sans-serif;
}

p#01 {
    font-family: "Arial", serif;
    text-align: center;
    font-size: .75em;
}

p#red {
    color: red;
}

.navbar {
    float: center;
    padding: 10px;
    display: block;
    background-color: gold;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    width: 60px;
}

.navbar li {
    display: inline;
    font-family: "Courier New", serif;
    font-size: 1em;
}